In [1]:
import pandas as pd
import numpy as np
import statistics as stat
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("white")
import statistics as stat

In [2]:
data = pd.read_csv('scdb-200rfq-30cap-metrics.csv', names = ['Event', 'Time', 'Tx_type', 'Tx_id', 'Accept_id', 'time'])

In [3]:
grouped_data = data.groupby('Tx_id')
tx_id = list(grouped_data.groups.keys())
len(tx_id)

15329

In [4]:
#new data frame to get the count of each transaction type
data_unique_ids = data.drop_duplicates(subset = ['Tx_id'])

accept_count = 0
accept_ids = []
for i in range(0, len(data_unique_ids)):
    if data_unique_ids.iloc[i]['Tx_type'] == 'ACCEPT':
        accept_ids.append(data_unique_ids.iloc[i]['Tx_id'])
        accept_count += 1   


print(f"#ACCEPTs =  {accept_count}")

#ACCEPTs =  200

In [5]:
df_test = grouped_data.get_group(accept_ids[37])
df_test

,Event,Time,Tx_type,Tx_id,Accept_id,time
41902,received_tx,107,ACCEPT,f43d5c0857d9157d5967e0675e178b583fa6afb7c1186c...,None,1.670205e+09
41904,before_tendermint,122,ACCEPT,f43d5c0857d9157d5967e0675e178b583fa6afb7c1186c...,None,1.670205e+09
41906,check_tx,147,ACCEPT,f43d5c0857d9157d5967e0675e178b583fa6afb7c1186c...,None,1.670205e+09
41910,check_tx,257,ACCEPT,f43d5c0857d9157d5967e0675e178b583fa6afb7c1186c...,None,1.670205e+09
41911,deliver_tx,320,ACCEPT,f43d5c0857d9157d5967e0675e178b583fa6afb7c1186c...,None,1.670205e+09
41912,end_block,322,ACCEPT,f43d5c0857d9157d5967e0675e178b583fa6afb7c1186c...,None,1.670205e+09
41913,commit_tx,461,ACCEPT,f43d5c0857d9157d5967e0675e178b583fa6afb7c1186c...,None,1.670205e+09

## without RETURN

In [6]:
time_all_committed_accepts = {}
time_passed_accepts = []
validated_time = []
accepted_time = []
committed_time = []

accept_underfit = []
accept_underfit_dict = {}

accept_overfit = []
accept_overfit_dict = {}

for i in range(0, len(tx_id)):
    temp_list = []
    if "ACCEPT" == grouped_data.get_group(tx_id[i])["Tx_type"].to_list()[0]:
        temp_list = grouped_data.get_group(tx_id[i])["Time"].to_list()
        if len(temp_list) == 6 and grouped_data.get_group(tx_id[i])["Event"].to_list()[5] == "commit_tx":
            
            actual_time = max(temp_list) - min(temp_list)
            time_all_committed_accepts[tx_id[i]] = actual_time
            time_passed_accepts.append(actual_time)
            
            df = grouped_data.get_group(tx_id[i])
            received_time = df[df['Event'] == 'received_tx']['Time'].to_list()[0]
            before_tendermint_time = df[df['Event'] == 'before_tendermint']['Time'].to_list()[0]
            
            validated = before_tendermint_time - received_time
            validated_time.append(validated)
            
            check_time = df[df['Event'] == 'check_tx']['Time'].to_list()[0]
            accepted = check_time - received_time
            accepted_time.append(accepted)
            
            commit_time =  df[df['Event'] == 'commit_tx']['Time'].to_list()[0]
            committed = commit_time - received_time
            committed_time.append(committed)
        elif len(temp_list) < 6:
            accept_underfit.append(temp_list)
            accept_underfit_dict[tx_id[i]] = temp_list
        elif 7 >= len(temp_list) > 6 :
            df_check = grouped_data.get_group(tx_id[i])
            if len(df_check[df_check['Event'] == 'check_tx']['Time'].to_list()) > 1:
                check_time = max(df_check[df_check['Event'] == 'check_tx']['Time'].to_list())
            else:
                check_time = df_check[df_check['Event'] == 'check_tx']['Time'].to_list()[0] 
            
            actual_time = max(temp_list) - min(temp_list)
            time_all_committed_accepts[tx_id[i]] = actual_time
            time_passed_accepts.append(actual_time)
            
            df = grouped_data.get_group(tx_id[i])
            received_time = df[df['Event'] == 'received_tx']['Time'].to_list()[0]
            before_tendermint_time = df[df['Event'] == 'before_tendermint']['Time'].to_list()[0]
            
            validated = before_tendermint_time - received_time
            validated_time.append(validated)
           
            accepted = check_time - received_time
            accepted_time.append(accepted)
            
            commit_time =  df[df['Event'] == 'commit_tx']['Time'].to_list()[0]
            committed = commit_time - received_time
            committed_time.append(committed)
            
            accept_overfit.append(actual_time)
            accept_overfit_dict[tx_id[i]] = temp_list

## with RETURNs

In [8]:


accept_return_count = {}

time_id_return = {}
for i in range(0, len(tx_id)):
    temp_list = []
    return_count = 0
    if "ACCEPT" == grouped_data.get_group(tx_id[i])["Tx_type"].to_list()[0]:
        temp_list = grouped_data.get_group(tx_id[i])["Time"].to_list()
        for j in range(0, len(data)):
            if data['Event'][j] == "commit_tx" and tx_id[i] == data['Accept_id'][j]:
                temp_list.append(data["Time"][j])
                return_count += 1
        accept_return_count[tx_id[i]] = return_count

In [9]:
accept_return_count

{'0b701b4bf27588eea3ab6f06d4227fbd4aaa29c33abeb45bda079d9f9a27a96e': 25,
 '0d2a99e89db11a9e452b22f9904152d609fa7959226514783036140cd0471654': 24,
 '0e560fcf3f85851682b1ff917318b92f5141a226304ea8ed5a2cca34a054fd3e': 25,
 '19095b3867e04e975e8c8079f8e983649edd97d36e2a7b8a073755c1b0a23a51': 25,
 '2bc760be2fad64b66a546a19326ecd07637ed359c51cea74e9a366a07cfd6009': 25,
 '3d40cf940fdd772228c61bf11473461267eb310bdfbf91a6722d648d74eee5c7': 25,
 '4068059a5ed7aa20d9ccbcfa0f83a7a3272633b5cc7955411e832438f2ced97a': 25,
 '456630d33ac141aae3135c95cb122e63045f40a5c7cb54bbbf36f59bfdf52b1e': 25,
 '4daf46d46043a83dcfb3b20631f64bdb9d7c41e558b40b297a13394c6be4cbbb': 25,
 '5cd52aea826b9b07ae947d9e0563573dfc3977113a854234fdc5ebe3ef2b0a2b': 25,
 '5e63f8f2e8490172d5728761bbf6804ca15d85b0a22bcd005e8f497c904beab2': 25,
 '81f21ae186cb7504c102c8f847b6ff3455377f24d557131dac53a4d73743a639': 25,
 '8adbdf48f7300c1103cbacba6e19ae0ad2ada7448916b7c25a4f2c1a94114c12': 25,
 '8b61264ae94ffaf2019d07417769ea4b8f8235033beb55c505326498208d8df6': 25,
 'aaae1ee993ad2ef96b724c51e71136421a3ab14d62cba39fc8acaa6d40bfa9d9': 25,
 'bbf0da2348758b160808071ebdc9cb1d29815b47caa2194126e310d2a439eaf3': 25,
 'c2f3f74f50b2572a169dac745b5b684d6a8ae2f4e9ad5eff9f44bc8558f949e0': 25,
 'd62aac9a62221843cda936880c0280d5e092d183062fa0854523f21224535905': 25,
 'd8bde69cbc373bd1cce2e8f7ec40a8a32bb66ad162bffb2fa512683b315c4c7c': 25,
 'daa56242096a22ad093490285884a61f2c5898ab268734a063b16e450c50b49a': 25}

In [10]:
time_all_committed_accepts

{'0b701b4bf27588eea3ab6f06d4227fbd4aaa29c33abeb45bda079d9f9a27a96e': 355,
 '0d2a99e89db11a9e452b22f9904152d609fa7959226514783036140cd0471654': 330,
 '0e560fcf3f85851682b1ff917318b92f5141a226304ea8ed5a2cca34a054fd3e': 369,
 '19095b3867e04e975e8c8079f8e983649edd97d36e2a7b8a073755c1b0a23a51': 339,
 '2bc760be2fad64b66a546a19326ecd07637ed359c51cea74e9a366a07cfd6009': 188,
 '3d40cf940fdd772228c61bf11473461267eb310bdfbf91a6722d648d74eee5c7': 180,
 '4068059a5ed7aa20d9ccbcfa0f83a7a3272633b5cc7955411e832438f2ced97a': 177,
 '456630d33ac141aae3135c95cb122e63045f40a5c7cb54bbbf36f59bfdf52b1e': 180,
 '4daf46d46043a83dcfb3b20631f64bdb9d7c41e558b40b297a13394c6be4cbbb': 331,
 '5cd52aea826b9b07ae947d9e0563573dfc3977113a854234fdc5ebe3ef2b0a2b': 338,
 '5e63f8f2e8490172d5728761bbf6804ca15d85b0a22bcd005e8f497c904beab2': 336,
 '81f21ae186cb7504c102c8f847b6ff3455377f24d557131dac53a4d73743a639': 336,
 '8adbdf48f7300c1103cbacba6e19ae0ad2ada7448916b7c25a4f2c1a94114c12': 182,
 '8b61264ae94ffaf2019d07417769ea4b8f8235033beb55c505326498208d8df6': 176,
 'aaae1ee993ad2ef96b724c51e71136421a3ab14d62cba39fc8acaa6d40bfa9d9': 178,
 'bbf0da2348758b160808071ebdc9cb1d29815b47caa2194126e310d2a439eaf3': 175,
 'c2f3f74f50b2572a169dac745b5b684d6a8ae2f4e9ad5eff9f44bc8558f949e0': 332,
 'd62aac9a62221843cda936880c0280d5e092d183062fa0854523f21224535905': 334,
 'd8bde69cbc373bd1cce2e8f7ec40a8a32bb66ad162bffb2fa512683b315c4c7c': 329,
 'daa56242096a22ad093490285884a61f2c5898ab268734a063b16e450c50b49a': 331}

In [11]:
len(time_passed_accepts)

20

In [12]:
len(accept_overfit)

12

In [13]:
stat.mean(time_passed_accepts)

274.8

In [14]:
stat.mean(accept_overfit)

338.3333333333333

In [15]:
# Analysis of CREATE Transaction
accept_mean = "{:.2f}".format(stat.mean(time_passed_accepts))
accept_median = stat.median(time_passed_accepts)
accept_max = max(time_passed_accepts)
accept_min = min(time_passed_accepts)
accept_std_dev = "{:.2f}".format(stat.stdev(time_passed_accepts))

print(accept_mean)
print(accept_median)
print(accept_max)
print(accept_min)
print(accept_std_dev)
print(f"total accepts = {len(time_passed_accepts)}")

accept_dict = {
               'min': accept_min,
               'max': accept_max,
               'average': accept_mean,
               'median' : accept_median,
               'standard_deviation' : accept_std_dev,
               '# of txs' : len(time_passed_accepts)}

274.80
330.5
369
175
80.38
total accepts = 20

In [16]:
results = pd.DataFrame(accept_dict, index = ['ACCEPT'])
results.to_csv('accept_analysis.csv', sep=',', encoding='utf-8')
results

        min  max average  median standard_deviation  # of txs
ACCEPT  175  369  274.80   330.5              80.38        20